.navbar {
  height: 100px;
  margin-bottom: 0;
  background-color: black;
  border-radius: 0;
}

.navbar .navbar-brand {
  float: none;
}

.navbar .container-fluid {
  margin-left: 253px;
  margin-right: 220px;
  padding: 0;
}

.navbar .nav li {
  margin-top: 28px;
  padding-bottom: 28px;
}

.navbar .nav li a {
  color: #fff;
  text-decoration: none;
  font-family: "Montserrat", Helvetica;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.23px;
  padding: 9px;
}

.navbar .nav li:hover {
  border-bottom: 5px solid #b88b58;
}

.jumbotron {
  background-image: url(../images/jumbotron.png);
  height: 752px;
  background-size: cover;
  background-position: center -100px;
  margin-bottom: 0;
}

.jumbotron .jumb {
  text-align: center;
  margin-top: 185px;
}

.jumbotron .jumb .welcome, .jumbotron .jumb .welcome2 {
  font-family: "Montserrat", Helvetica;
  font-size: 72px;
  font-weight: 700;
  color: #fff;
  margin: 0;
  letter-spacing: -1.2px;
  line-height: 1;
}

.jumbotron .jumb .welcome2 {
  color: #b88b58;
}

.jumbotron .jumb .call {
  font-family: "Montserrat", Helvetica;
  font-size: 24px;
  font-weight: 600;
  color: #fff;
  margin: 0;
  letter-spacing: -0.3px;
  line-height: 2.3;
}

.jumbotron .jumb .btnjumb {
  font-family: "Montserrat", Helvetica;
  font-size: 12px;
  font-weight: 700;
  border-radius: 18px;
  width: 194px;
  margin-top: 32px;
  height: 43px;
  letter-spacing: -0.3px;
  background-color: #b88b58;
  border: 1px solid #b88b58;
}

.jumbotron .jumb .btnjumb:hover {
  background-color: #373737;
  border: 1px solid #373737;
}

.jumbotron .jumb .pagi {
  margin-top: 188px;
}

.jumbotron .jumb .callme {
  position: absolute;
  right: 79px;
  top: 812px;
}

.about {
  background-color: #f7f7f7;
  padding-bottom: 60px;
  padding-top: 30px;
}

.about .title_about, .about .sub_title {
  font-family: "Montserrat", Helvetica;
  font-weight: 700;
  font-size: 30px;
  margin-top: 25px;
  letter-spacing: -0.8px;
  text-align: center;
}

.about .sub_title {
  margin: 0;
  font-size: 14px;
  color: #aeaeae;
  font-weight: 600;
}

.about .text {
  margin-top: 40px;
}

.about .text .text_about {
  font-family: "Montserrat", Helvetica;
  font-weight: 400;
  font-size: 14px;
  text-align: left;
  line-height: 1.86;
  margin-left: 14px;
}

.about .btn_about {
  font-family: "Montserrat", Helvetica;
  font-size: 12px;
  font-weight: 700;
  border-radius: 18px;
  width: 194px;
  margin-top: 28px;
  height: 43px;
  letter-spacing: -0.3px;
  background-color: #b88b58;
  border: 1px solid #b88b58;
  margin-left: 15px;
}

.about .btn_about:hover {
  background-color: #373737;
  border: 1px solid #373737;
}

.about .video {
  padding: 0;
  margin-top: 36px;
}

.services {
  background-color: black;
}

.services .title_services, .services .sub_title_services {
  font-family: "Montserrat", Helvetica;
  font-weight: 700;
  font-size: 30px;
  margin-top: 55px;
  letter-spacing: -0.8px;
  text-align: center;
  color: #fff;
}

.services .sub_title_services {
  margin: 0;
  font-size: 14px;
  color: #aeaeae;
  font-weight: 600;
  letter-spacing: -0.2px;
}

.services .serv {
  border-left: 1.5px solid #383838;
  margin-top: 56px;
  margin-bottom: 41px;
  height: 199px;
  text-align: center;
}

.services .serv .serv_title {
  font-family: "Montserrat", Helvetica;
  font-weight: 600;
  font-size: 18px;
  color: #fff;
  line-height: 24px;
  margin-bottom: 0;
}

.services .serv .serv_sub_title {
  font-family: "Montserrat", Helvetica;
  font-weight: 300;
  font-size: 12px;
  color: #fff;
  line-height: 19px;
  margin-bottom: 0;
}

.services .serv .st1 {
  margin-bottom: 12px;
}

.services .serv img {
  margin-bottom: 22px;
}

.services .serv1 {
  border-right: 1.5px solid #383838;
}

.projects {
  background-color: #f7f7f7;
  padding-bottom: 39px;
}

.projects .title_projects, .projects .sub_title_projects {
  font-family: "Montserrat", Helvetica;
  font-weight: 700;
  font-size: 30px;
  margin-top: 58px;
  letter-spacing: -0.8px;
  text-align: center;
}

.projects .sub_title_projects {
  margin: 0;
  font-size: 14px;
  color: #aeaeae;
  font-weight: 600;
}

.projects .gallery_nav {
  display: block;
  text-align: center;
  margin-top: 49px;
  margin-left: 217px;
}

.projects .gallery_nav .gallery_ul {
  list-style: none;
  background-color: #ededed;
  padding: 18px;
  border: 1px solid #cfcfcf;
  border-radius: 21px;
  max-width: 707px;
}

.projects .gallery_nav .gallery_ul li {
  display: inline;
  font-family: "Montserrat", Helvetica;
  font-weight: 400;
  font-size: 14px;
  padding: 16px;
  border-left: 1px solid #cfcfcf;
}

.projects .gallery_nav .gallery_ul li:hover {
  border-bottom: 5px solid #b88b58;
}

.projects .gallery_nav .gallery_ul .li1 {
  border-left: none;
}

.projects .gallery {
  margin-top: 22px;
  margin-left: 25px;
}

.projects .gallery .img_gallery {
  padding: 15px 5px;
}

.projects .gallery .img_gallery:hover {
  visibility: visible;
}

.projects .gallery .img_gallery .overlay {
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  width: 255px;
  height: 165px;
  text-align: center;
  color: #fff;
  font-family: "Montserrat", Helvetica;
  font-weight: 300;
  font-size: 12px;
  visibility: hidden;
  cursor: pointer;
}

.projects .gallery .img_gallery .overlay h2 {
  font-weight: 400;
  font-size: 18px;
  margin-top: 45px;
}

.projects .btn_gallery {
  font-family: "Montserrat", Helvetica;
  font-size: 12px;
  font-weight: 700;
  border-radius: 18px;
  width: 194px;
  margin-top: 28px;
  height: 43px;
  letter-spacing: -0.3px;
  background-color: #b88b58;
  border: 1px solid #b88b58;
  margin: 17px auto;
}

.projects .btn_gallery:hover {
  background-color: #373737;
  border: 1px solid #373737;
}

.team {
  background-image: url(../images/teambackground.png);
  background-size: cover;
  background-position: center 0;
}

.team .title_team, .team .sub_title_team {
  font-family: "Montserrat", Helvetica;
  font-weight: 700;
  font-size: 30px;
  margin-top: 58px;
  letter-spacing: -0.8px;
  text-align: center;
  color: #fff;
}

.team .sub_title_team {
  margin: 0;
  font-size: 14px;
  color: #aeaeae;
  font-weight: 600;
}

.team .memrow {
  margin-top: 37px;
  margin-left: 3px;
}

.team .memrow .member {
  width: 350px;
  height: 432px;
  background-color: #fff;
  text-align: center;
  margin: 0 14px;
}

.team .memrow .member img {
  margin-top: 47px;
}

.team .memrow .member .tea_title {
  font-family: "Montserrat", Helvetica;
  font-weight: 600;
  font-size: 21px;
  margin-top: 43px;
}

.team .memrow .member .tea_sub_title {
  font-family: "Montserrat", Helvetica;
  font-weight: 300;
  font-size: 14px;
}

.team .memrow .social {
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-right: 2px;
  margin-top: 17px;
}

.team .memrow .social .main_social {
  border-radius: 50%;
  background-color: #bebebe;
  width: 33px;
  height: 33px;
  margin: 3px;
}

.team .memrow .social .main_social:hover {
  background-color: #b88b58;
}

.team .memrow .social i {
  font-size: 1.3em;
  margin-top: 8px;
  color: #fff;
}

.paginator {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 42px;
}

.clients {
  background-color: #f7f7f7;
}

.clients .title_clients, .clients .sub_title_clients {
  font-family: "Montserrat", Helvetica;
  font-weight: 700;
  font-size: 30px;
  margin-top: 58px;
  letter-spacing: -0.8px;
  text-align: center;
}

.clients .sub_title_clients {
  margin: 0;
  font-size: 14px;
  color: #aeaeae;
  font-weight: 600;
}

.clients .cli_title {
  font-family: "Montserrat", Helvetica;
  font-weight: 700;
  font-size: 24px;
  text-align: center;
  margin-top: 26px;
}

.clients .cli_sub_title {
  font-family: "Montserrat", Helvetica;
  font-weight: 400;
  font-size: 18px;
  text-align: center;
}

.clients .client_img {
  text-align: center;
  margin-top: 70px;
}

.clients .quotes {
  text-align: center;
  margin-top: 22px;
}

.clients .client_p {
  font-family: "Montserrat", Helvetica;
  font-weight: 300;
  font-size: 14px;
  text-align: center;
  max-width: 700px;
  margin: 20px auto 0;
}

.logos {
  border-top: 1px solid #cfcfcf;
  border-bottom: 1px solid #cfcfcf;
  text-align: center;
  box-shadow: 0px 5px 9px 2px rgba(0, 0, 0, 0.37);
  padding-bottom: 8px;
}

.logos img {
  padding: 44px;
}

.price {
  background-color: #f7f7f7;
  border-bottom: 1px solid #cfcfcf;
  padding-bottom: 48px;
}

.price .title_price, .price .sub_title_price {
  font-family: "Montserrat", Helvetica;
  font-weight: 700;
  font-size: 30px;
  margin-top: 58px;
  letter-spacing: -0.8px;
  text-align: center;
}

.price .sub_title_price {
  margin: 0;
  font-size: 14px;
  color: #aeaeae;
  font-weight: 600;
}

.price .pro_row {
  margin-left: 0;
  margin-top: 16px;
}

.price .pro_row .product {
  width: 255px;
  height: 343px;
  background-color: #fff;
  text-align: center;
  margin: 15px;
}

.price .pro_row .product .pro_name {
  font-family: "Montserrat", Helvetica;
  font-weight: 400;
  font-size: 14px;
  margin-bottom: 0;
  margin-top: 31px;
}

.price .pro_row .product .pro_price {
  font-family: "Montserrat", Helvetica;
  font-weight: 700;
  font-size: 30px;
  margin-top: 12px;
  margin-bottom: 0;
}

.price .pro_row .product .month, .price .pro_row .product .features {
  font-family: "Montserrat", Helvetica;
  font-weight: 400;
  font-size: 10px;
  color: #aeaeae;
}

.price .pro_row .product .features {
  color: black;
  margin-top: 19px;
}

.price .pro_row .product .btn_pro {
  font-family: "Montserrat", Helvetica;
  font-size: 12px;
  font-weight: 700;
  border-radius: 18px;
  width: 131px;
  margin-top: 28px;
  height: 45px;
  letter-spacing: -0.3px;
  background-color: #373737;
  border: 1px solid #373737;
  margin: 17px auto;
}

.price .pro_row .product .btn_pro:hover {
  background-color: #b88b58;
  border: 1px solid #b88b58;
}

.premium .title_premium, .premium .sub_title_premium {
  font-family: "Montserrat", Helvetica;
  font-weight: 700;
  font-size: 30px;
  margin-top: 58px;
  letter-spacing: -0.8px;
  text-align: center;
}

.premium .sub_title_premium {
  margin: 0;
  font-size: 14px;
  color: #aeaeae;
  font-weight: 600;
}

.premium .prem_row .box {
  margin-top: 29px;
}

.premium .prem_row .box img {
  margin-left: 15px;
}

.premium .prem_row .prem_title {
  font-family: "Montserrat", Helvetica;
  font-weight: 700;
  font-size: 21px;
  margin-top: 41px;
}

.premium .prem_row .prem_sub_title {
  font-family: "Montserrat", Helvetica;
  font-weight: 300;
  font-size: 14px;
  color: #aeaeae;
}
/*# sourceMappingURL=style.css.map */