.about .title_about, .projects .title_projects, .clients .title_clients, .price .title_price, .premium .title_premium, .contact .title_contact, .contact .form-group .form {
  font-family: "Montserrat", Helvetica;
  font-weight: 700;
  font-size: 30px;
  text-align: center;
}

.about .sub_title, .services .sub_title_services, .projects .sub_title_projects, .team .sub_title_team, .clients .sub_title_clients, .price .sub_title_price, .premium .sub_title_premium, .facts .sub_title_facts, .contact .sub_title_contact {
  font-size: 14px;
  color: #aeaeae;
  font-weight: 600;
  text-align: center;
}

.services .title_services, .team .title_team, .facts .title_facts {
  font-family: "Montserrat", Helvetica;
  font-weight: 700;
  font-size: 30px;
  text-align: center;
  color: #fff;
}

.navbar {
  height: 100px;
  margin-bottom: 0;
  background-color: black;
  border-radius: 0;
}

.navbar .navbar-brand {
  float: none;
}

.navbar .container-fluid {
  margin-left: 253px;
  margin-right: 220px;
  padding: 0;
}

.navbar .nav li {
  margin-top: 28px;
  padding-bottom: 28px;
}

.navbar .nav li a {
  color: #fff;
  text-decoration: none;
  font-family: "Montserrat", Helvetica;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.23px;
  padding: 9px;
}

.navbar .nav li:hover {
  border-bottom: 5px solid #b88b58;
}

.jumbotron {
  background-image: url(../images/jumbotron.png);
  height: 752px;
  background-size: cover;
  background-position: center -100px;
  margin-bottom: 0;
}

.jumbotron .jumb {
  text-align: center;
  margin-top: 185px;
}

.jumbotron .jumb .welcome, .jumbotron .jumb .welcome2 {
  font-family: "Montserrat", Helvetica;
  font-size: 72px;
  font-weight: 700;
  color: #fff;
  margin: 0;
  letter-spacing: -1.2px;
  line-height: 1;
}

.jumbotron .jumb .welcome2 {
  color: #b88b58;
}

.jumbotron .jumb .call {
  font-family: "Montserrat", Helvetica;
  font-size: 24px;
  font-weight: 600;
  color: #fff;
  margin: 0;
  letter-spacing: -0.3px;
  line-height: 2.3;
}

.jumbotron .jumb .btnjumb {
  font-family: "Montserrat", Helvetica;
  font-size: 12px;
  font-weight: 700;
  border-radius: 18px;
  width: 194px;
  margin-top: 32px;
  height: 43px;
  letter-spacing: -0.3px;
  background-color: #b88b58;
  border: 1px solid #b88b58;
}

.jumbotron .jumb .btnjumb:hover {
  background-color: #373737;
  border: 1px solid #373737;
}

.jumbotron .jumb .pagi {
  margin-top: 188px;
}

.jumbotron .jumb .callme {
  position: absolute;
  right: 79px;
  top: 812px;
}

.about {
  background-color: #f7f7f7;
  padding-bottom: 60px;
  padding-top: 30px;
}

.about .title_about {
  margin-top: 25px;
  letter-spacing: -0.8px;
}

.about .sub_title {
  margin: 0;
}

.about .text {
  margin-top: 40px;
}

.about .text .text_about {
  font-family: "Montserrat", Helvetica;
  font-weight: 400;
  font-size: 14px;
  text-align: left;
  line-height: 1.86;
  margin-left: 14px;
}

.about .btn_about {
  font-family: "Montserrat", Helvetica;
  font-size: 12px;
  font-weight: 700;
  border-radius: 18px;
  width: 194px;
  margin-top: 28px;
  height: 43px;
  letter-spacing: -0.3px;
  background-color: #b88b58;
  border: 1px solid #b88b58;
  margin-left: 15px;
}

.about .btn_about:hover {
  background-color: #373737;
  border: 1px solid #373737;
}

.about .video {
  padding: 0;
  margin-top: 36px;
}

.services {
  background-color: black;
}

.services .title_services {
  margin-top: 55px;
  letter-spacing: -0.8px;
}

.services .sub_title_services {
  margin: 0;
  letter-spacing: -0.2px;
}

.services .serv {
  border-left: 1.5px solid #383838;
  margin-top: 56px;
  margin-bottom: 41px;
  height: 199px;
  text-align: center;
}

.services .serv .serv_title {
  font-family: "Montserrat", Helvetica;
  font-weight: 600;
  font-size: 18px;
  color: #fff;
  line-height: 24px;
  margin-bottom: 0;
}

.services .serv .serv_sub_title {
  font-family: "Montserrat", Helvetica;
  font-weight: 300;
  font-size: 12px;
  color: #fff;
  line-height: 19px;
  margin-bottom: 0;
}

.services .serv .st1 {
  margin-bottom: 12px;
}

.services .serv img {
  margin-bottom: 22px;
}

.services .serv1 {
  border-right: 1.5px solid #383838;
}

.projects {
  background-color: #f7f7f7;
  padding-bottom: 39px;
}

.projects .title_projects {
  margin-top: 58px;
  letter-spacing: -0.8px;
}

.projects .sub_title_projects {
  margin: 0;
}

.projects .gallery_nav {
  display: block;
  text-align: center;
  margin-top: 49px;
  margin-left: 217px;
}

.projects .gallery_nav .gallery_ul {
  list-style: none;
  background-color: #ededed;
  padding: 18px;
  border: 1px solid #cfcfcf;
  border-radius: 21px;
  max-width: 707px;
}

.projects .gallery_nav .gallery_ul li {
  display: inline;
  font-family: "Montserrat", Helvetica;
  font-weight: 400;
  font-size: 14px;
  padding: 16px;
  border-left: 1px solid #cfcfcf;
}

.projects .gallery_nav .gallery_ul li:hover {
  border-bottom: 5px solid #b88b58;
}

.projects .gallery_nav .gallery_ul .li1 {
  border-left: none;
}

.projects .gallery {
  margin-top: 22px;
  margin-left: 25px;
}

.projects .gallery .img_gallery {
  padding: 15px 5px;
}

.projects .gallery .img_gallery:hover .overlay {
  visibility: visible;
}

.projects .gallery .img_gallery .overlay {
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  width: 255px;
  height: 165px;
  text-align: center;
  color: #fff;
  font-family: "Montserrat", Helvetica;
  font-weight: 300;
  font-size: 12px;
  visibility: hidden;
  cursor: pointer;
}

.projects .gallery .img_gallery .overlay h2 {
  font-weight: 400;
  font-size: 18px;
  margin-top: 45px;
}

.projects .btn_gallery {
  font-family: "Montserrat", Helvetica;
  font-size: 12px;
  font-weight: 700;
  border-radius: 18px;
  width: 194px;
  margin-top: 28px;
  height: 43px;
  letter-spacing: -0.3px;
  background-color: #b88b58;
  border: 1px solid #b88b58;
  margin: 17px auto;
}

.projects .btn_gallery:hover {
  background-color: #373737;
  border: 1px solid #373737;
}

.team {
  background-image: url(../images/teambackground.png);
  background-size: cover;
  background-position: center 0;
}

.team .title_team {
  margin-top: 58px;
  letter-spacing: -0.8px;
}

.team .sub_title_team {
  margin: 0;
}

.team .memrow {
  margin-top: 37px;
  margin-left: 3px;
}

.team .memrow .member {
  width: 350px;
  height: 432px;
  background-color: #fff;
  text-align: center;
  margin: 0 14px;
}

.team .memrow .member img {
  margin-top: 47px;
}

.team .memrow .member .tea_title {
  font-family: "Montserrat", Helvetica;
  font-weight: 600;
  font-size: 21px;
  margin-top: 43px;
}

.team .memrow .member .tea_sub_title {
  font-family: "Montserrat", Helvetica;
  font-weight: 300;
  font-size: 14px;
}

.team .memrow .social {
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-right: 2px;
  margin-top: 17px;
}

.team .memrow .social .main_social, .team .memrow .social .social_icon .main_social2, .social_icon .team .memrow .social .main_social2, .team .memrow .social .social_icon .main_social3, .social_icon .team .memrow .social .main_social3, .team .memrow .social .social_icon .main_social4, .social_icon .team .memrow .social .main_social4, .team .memrow .social .social_icon .main_social5, .social_icon .team .memrow .social .main_social5 {
  border-radius: 50%;
  background-color: #bebebe;
  width: 33px;
  height: 33px;
  margin: 3px;
}

.team .memrow .social .main_social:hover, .team .memrow .social .social_icon .main_social2:hover, .social_icon .team .memrow .social .main_social2:hover, .team .memrow .social .social_icon .main_social3:hover, .social_icon .team .memrow .social .main_social3:hover, .team .memrow .social .social_icon .main_social4:hover, .social_icon .team .memrow .social .main_social4:hover, .team .memrow .social .social_icon .main_social5:hover, .social_icon .team .memrow .social .main_social5:hover {
  background-color: #b88b58;
}

.team .memrow .social i {
  font-size: 1.3em;
  margin-top: 8px;
  color: #fff;
}

.paginator {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 42px;
}

.clients {
  background-color: #f7f7f7;
}

.clients .title_clients {
  margin-top: 58px;
  letter-spacing: -0.8px;
}

.clients .sub_title_clients {
  margin: 0;
}

.clients .cli_title {
  font-family: "Montserrat", Helvetica;
  font-weight: 700;
  font-size: 24px;
  text-align: center;
  margin-top: 26px;
}

.clients .cli_sub_title {
  font-family: "Montserrat", Helvetica;
  font-weight: 400;
  font-size: 18px;
  text-align: center;
}

.clients .client_img {
  text-align: center;
  margin-top: 70px;
}

.clients .quotes {
  text-align: center;
  margin-top: 22px;
}

.clients .client_p {
  font-family: "Montserrat", Helvetica;
  font-weight: 300;
  font-size: 14px;
  text-align: center;
  max-width: 700px;
  margin: 20px auto 0;
}

.logos {
  border-top: 1px solid #cfcfcf;
  border-bottom: 1px solid #cfcfcf;
  text-align: center;
  box-shadow: 0px 5px 9px 2px rgba(0, 0, 0, 0.37);
  padding-bottom: 8px;
}

.logos img {
  padding: 44px;
}

.price {
  background-color: #f7f7f7;
  border-bottom: 1px solid #cfcfcf;
  padding-bottom: 48px;
}

.price .title_price {
  margin-top: 58px;
  letter-spacing: -0.8px;
}

.price .sub_title_price {
  margin: 0;
}

.price .pro_row {
  margin-left: 0;
  margin-top: 16px;
}

.price .pro_row .product {
  width: 255px;
  height: 343px;
  background-color: #fff;
  text-align: center;
  margin: 15px;
}

.price .pro_row .product .pro_name {
  font-family: "Montserrat", Helvetica;
  font-weight: 400;
  font-size: 14px;
  margin-bottom: 0;
  margin-top: 31px;
}

.price .pro_row .product .pro_price {
  font-family: "Montserrat", Helvetica;
  font-weight: 700;
  font-size: 30px;
  margin-top: 12px;
  margin-bottom: 0;
}

.price .pro_row .product .month, .price .pro_row .product .features {
  font-family: "Montserrat", Helvetica;
  font-weight: 400;
  font-size: 10px;
  color: #aeaeae;
}

.price .pro_row .product .features {
  color: black;
  margin-top: 19px;
}

.price .pro_row .product .btn_pro {
  font-family: "Montserrat", Helvetica;
  font-size: 12px;
  font-weight: 700;
  border-radius: 18px;
  width: 131px;
  margin-top: 28px;
  height: 45px;
  letter-spacing: -0.3px;
  background-color: #373737;
  border: 1px solid #373737;
  margin: 17px auto;
}

.price .pro_row .product .btn_pro:hover {
  background-color: #b88b58;
  border: 1px solid #b88b58;
}

.premium {
  padding-bottom: 41px;
}

.premium .title_premium {
  margin-top: 58px;
  letter-spacing: -0.8px;
}

.premium .sub_title_premium {
  margin: 0;
}

.premium .prem_row {
  border-bottom: 1px solid #373737;
  padding-bottom: 27px;
}

.premium .prem_row .box {
  margin-top: 29px;
}

.premium .prem_row .box img {
  margin-left: 15px;
}

.premium .prem_row .prem_title, .premium .prem_row .prem_title2, .premium .prem_row .prem_title3 {
  font-family: "Montserrat", Helvetica;
  font-weight: 700;
  font-size: 21px;
  margin-top: 71px;
}

.premium .prem_row .prem_title:before, .premium .prem_row .prem_title2:before, .premium .prem_row .prem_title3:before {
  content: "";
  width: 36px;
  height: 32px;
  background-image: url(../images/icon-premium.png);
  background-size: cover;
  position: absolute;
  left: -51px;
}

.premium .prem_row .prem_title2 {
  margin-top: 32px;
}

.premium .prem_row .prem_title3 {
  margin-top: 24px;
}

.premium .prem_row .prem_sub_title, .premium .prem_row .feature li {
  font-family: "Montserrat", Helvetica;
  font-weight: 300;
  font-size: 14px;
  color: #aeaeae;
}

.premium .prem_row .feature {
  padding: 0;
  line-height: 1.7;
}

.premium .prem_row .feature li {
  list-style-type: none;
}

.premium .btn_prem {
  font-family: "Montserrat", Helvetica;
  font-size: 12px;
  font-weight: 700;
  border-radius: 18px;
  width: 194px;
  margin-top: 28px;
  height: 43px;
  letter-spacing: -0.3px;
  background-color: #b88b58;
  border: 1px solid #b88b58;
  margin: 17px auto;
}

.premium .btn_prem:hover {
  background-color: #373737;
  border: 1px solid #373737;
}

.premium .paginator2 {
  text-align: center;
  margin-top: 33px;
  margin-bottom: 42px;
}

.facts {
  background-color: black;
  padding-bottom: 27px;
}

.facts .title_facts {
  margin-top: 55px;
  letter-spacing: -0.8px;
}

.facts .sub_title_facts {
  margin: 0;
  letter-spacing: -0.2px;
}

.facts .fac {
  margin-top: 27px;
  margin-bottom: 41px;
  height: 199px;
  text-align: center;
}

.facts .fac .fac_main_title {
  font-family: "Montserrat", Helvetica;
  font-weight: 700;
  font-size: 48px;
  color: #b88b58;
}

.facts .fac .fac_main_title:after {
  content: "_";
  color: #7e7e7e;
  display: inline-block;
  position: absolute;
  top: 39px;
  left: 131px;
}

.facts .fac .fac_title {
  font-family: "Montserrat", Helvetica;
  font-weight: 600;
  font-size: 18px;
  color: #fff;
  line-height: 24px;
  margin-bottom: 0;
}

.facts .fac .fac_sub_title, .facts .fac .fac_sub_title2 {
  font-family: "Montserrat", Helvetica;
  font-weight: 300;
  font-size: 12px;
  color: #fff;
  line-height: 19px;
  margin-top: 11px;
  margin-bottom: 0;
}

.facts .fac .fac_sub_title2 {
  margin-top: 35px;
}

.facts .fac .st1 {
  margin-bottom: 12px;
}

.social_icon {
  padding: 20px;
  padding-bottom: 16px;
  text-align: center;
  border-bottom: 1px solid #cfcfcf;
}

.social_icon img {
  margin-right: 10px;
}

.social_icon .main_social, .social_icon .main_social2, .social_icon .main_social3, .social_icon .main_social4, .social_icon .main_social5 {
  display: -ms-inline-flexbox;
  display: inline-flex;
  border-radius: 50%;
  background-color: #34c5f0;
  width: 33px;
  height: 33px;
  margin: 3px;
  margin-right: 53px;
}

.social_icon .main_social:hover, .social_icon .main_social2:hover, .social_icon .main_social3:hover, .social_icon .main_social4:hover, .social_icon .main_social5:hover {
  background-color: black;
}

.social_icon .main_social .after_i, .social_icon .main_social2 .after_i, .social_icon .main_social3 .after_i, .social_icon .main_social4 .after_i, .social_icon .main_social5 .after_i {
  font-family: "Montserrat", Helvetica;
  font-weight: 700;
  font-size: 10px;
  color: #aeaeae;
  margin-left: 14px;
  margin-top: 9px;
}

.social_icon .main_social i, .social_icon .main_social2 i, .social_icon .main_social3 i, .social_icon .main_social4 i, .social_icon .main_social5 i {
  font-size: 1.3em;
  margin-top: 8px;
  margin-left: 9px;
  color: #fff;
}

.social_icon .main_social .fa-facebook, .social_icon .main_social2 .fa-facebook, .social_icon .main_social3 .fa-facebook, .social_icon .main_social4 .fa-facebook, .social_icon .main_social5 .fa-facebook {
  margin-left: 11px;
}

.social_icon .main_social .fa-google-plus, .social_icon .main_social2 .fa-google-plus, .social_icon .main_social3 .fa-google-plus, .social_icon .main_social4 .fa-google-plus, .social_icon .main_social5 .fa-google-plus {
  margin-left: 6px;
}

.social_icon .main_social2 {
  background-color: #127cb4;
}

.social_icon .main_social3 {
  background-color: #336297;
}

.social_icon .main_social4 {
  background-color: #e74237;
}

.social_icon .main_social5 {
  background-color: #b71c29;
}

.contact {
  text-align: center;
  background-color: #f7f7f7;
}

.contact .title_contact {
  margin-top: 58px;
}

.contact .form-group {
  text-align: center;
}

.contact .form-group .form {
  border: 0;
  border-bottom: 3px solid #cfcfcf;
  outline: none;
  font-size: 13px;
  font-weight: 400;
  text-align: left;
  padding-bottom: 10px;
  background-color: #f7f7f7;
}

.contact .form-group #subject {
  width: 540px;
  margin-top: 27px;
}

.contact .form-group #name {
  margin-right: 31px;
  width: 249px;
}

.contact .form-group #email {
  width: 259px;
}

.contact .form-group #message {
  margin-top: 67px;
  width: 540px;
}

.contact .name {
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin: 0 auto;
  margin-top: 73px;
}

.contact .btn_contact {
  font-family: "Montserrat", Helvetica;
  font-size: 12px;
  font-weight: 700;
  border-radius: 18px;
  width: 194px;
  height: 43px;
  letter-spacing: -0.3px;
  background-color: #b88b58;
  border: 1px solid #b88b58;
  margin: 38px auto;
}

.contact .btn_contact:hover {
  background-color: #373737;
  border: 1px solid #373737;
}

.contact .map {
  margin-top: 39px;
  width: 100%;
}

.footer {
  height: 260px;
  background-color: black;
}

.footer .social2 {
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-right: 2px;
  margin-top: 17px;
}

.footer .social2 .main_social2 {
  border-radius: 50%;
  background-color: #bebebe;
  width: 33px;
  height: 33px;
  margin: 3px;
}

.footer .social2 .main_social2:hover {
  background-color: #b88b58;
}

.footer .social2 i {
  font-size: 1.3em;
  margin-top: 8px;
  margin-right: 3px;
  color: #fff;
}
/*# sourceMappingURL=style.css.map */