$white: #fff;
$font: "Montserrat", Helvetica;
.navbar {
    height: 100px;
    margin-bottom: 0;
    background-color: black;
    border-radius: 0;
    .navbar-brand {
        float:none;
    }
    .container-fluid {
        margin-left: 253px;
        margin-right: 220px;
        padding: 0;
    }
    .nav {
        li {
            margin-top: 28px;
            padding-bottom: 28px;
            a {
                color: $white;
                text-decoration: none;
                font-family: $font;
                font-weight: 700;
                font-size: 14px;
                letter-spacing: 0.23px;
                padding: 9px;
            }
            &:hover {
                border-bottom: 5px solid #b88b58;
            }
        }
    }
}
.jumbotron {
    background-image:url(../images/jumbotron.png);
    height: 752px;
    background-size: cover;
    background-position: center -100px;
    margin-bottom: 0;
    .jumb {
        text-align: center;
        margin-top: 185px;
        .welcome {
            font-family: $font;
            font-size: 72px;
            font-weight: 700;
            color: $white;
            margin: 0;
            letter-spacing: -1.2px;
            line-height: 1;
        }
        .welcome2 {
            @extend .welcome;
            color: #b88b58;
        }
        .call {
            font-family: $font;
            font-size: 24px;
            font-weight: 600;
            color: $white;
            margin: 0;
            letter-spacing: -0.3px;
            line-height: 2.3;
        }
        .btnjumb {
            font-family: $font;
            font-size: 12px;
            font-weight: 700;
            border-radius: 18px;
            width: 194px;
            margin-top: 32px;
            height: 43px;
            letter-spacing: -0.3px;
            background-color: #b88b58;
            border: 1px solid #b88b58;
            &:hover {
                background-color: #373737;
                border: 1px solid #373737;
            }
        }
        .pagi {
            margin-top: 188px;
        }
        .callme {
            position: absolute;
            right: 79px;
            top: 812px;
        }
    }
}
.about {
    background-color: #f7f7f7;
    padding-bottom: 60px;
    padding-top: 30px;
    .title_about {
        font-family: $font;
        font-weight: 700;
        font-size: 30px;
        margin-top: 25px;
        letter-spacing: -0.8px;
        text-align: center;
    }
    .sub_title {
        @extend .title_about;
        margin: 0;
        font-size: 14px;
        color: #aeaeae;
        font-weight: 600;
    }
    .text {
        margin-top: 40px;
        .text_about {
            font-family: $font;
            font-weight: 400;
            font-size: 14px;
            text-align: left;
            line-height: 1.86;
            margin-left: 14px;
        }
    }
    .btn_about {
        font-family: $font;
        font-size: 12px;
        font-weight: 700;
        border-radius: 18px;
        width: 194px;
        margin-top: 28px;
        height: 43px;
        letter-spacing: -0.3px;
        background-color: #b88b58;
        border: 1px solid #b88b58;
        margin-left: 15px;
        &:hover {
            background-color: #373737;
            border: 1px solid #373737;
        }
    }
    .video {
        padding: 0;
        margin-top: 36px;
    }
}
.services {
    background-color: black;
    .title_services {
        font-family: $font;
        font-weight: 700;
        font-size: 30px;
        margin-top: 55px;
        letter-spacing: -0.8px;
        text-align: center;
        color: $white;
    }
    .sub_title_services {
        @extend .title_services;
        margin: 0;
        font-size: 14px;
        color: #aeaeae;
        font-weight: 600;
        letter-spacing: -0.2px;
    }
    .serv {
        border-left: 1.5px solid #383838;
        margin-top: 56px;
        margin-bottom: 41px;
        height: 199px;
        text-align: center;
        .serv_title {
            font-family: $font;
            font-weight: 600;
            font-size: 18px;
            color: $white;
            line-height: 24px;
            margin-bottom: 0;
        }
        .serv_sub_title {
            font-family: $font;
            font-weight: 300;
            font-size: 12px;
            color: $white;
            line-height: 19px;
            margin-bottom: 0;
        }
        .st1 {
            margin-bottom: 12px;
        }
        img {
            margin-bottom: 22px;
        }
    }
    .serv1 {
        border-right: 1.5px solid #383838;
    }
}
.projects {
    background-color: #f7f7f7;
    padding-bottom: 39px;
    .title_projects {
        font-family: $font;
        font-weight: 700;
        font-size: 30px;
        margin-top: 58px;
        letter-spacing: -0.8px;
        text-align: center;
    }
    .sub_title_projects {
        @extend .title_projects;
        margin: 0;
        font-size: 14px;
        color: #aeaeae;
        font-weight: 600;
    }
    .gallery_nav {
        display: block;
        text-align: center;
        margin-top: 49px;
        margin-left: 217px;
        .gallery_ul {
            list-style: none;
            background-color: #ededed;
            padding: 18px;
            border: 1px solid #cfcfcf;
            border-radius: 21px;
            max-width: 707px;
            li {
                display: inline;
                font-family: $font;
                font-weight: 400;
                font-size: 14px;
                padding: 16px;
                border-left: 1px solid #cfcfcf;
                &:hover {
                    border-bottom: 5px solid #b88b58;
                }
            }
            .li1 {
                border-left: none;
            }
        }
    }
    .gallery {
        margin-top: 22px;
        margin-left: 25px;
        .img_gallery {
            padding: 15px 5px;
            &:hover {
                .overlay {
                    visibility: visible;
                }
            }
            .overlay {
                background-color: rgba(0, 0, 0, 0.7);
                position: absolute;
                width: 255px;
                height: 165px;
                text-align: center;
                color: $white;
                font-family: $font;
                font-weight: 300;
                font-size: 12px;
                visibility: hidden;
                cursor: pointer;
                h2 {
                    font-weight: 400;
                    font-size: 18px;
                    margin-top: 45px;
                }
            }
        }
    }
    .btn_gallery {
        font-family: $font;
        font-size: 12px;
        font-weight: 700;
        border-radius: 18px;
        width: 194px;
        margin-top: 28px;
        height: 43px;
        letter-spacing: -0.3px;
        background-color: #b88b58;
        border: 1px solid #b88b58;
        margin: 17px auto;
        &:hover {
            background-color: #373737;
            border: 1px solid #373737;
        }
    }
}
.team {
    background-image: url(../images/teambackground.png);
    background-size: cover;
    background-position: center 0;
    .title_team {
        font-family: $font;
        font-weight: 700;
        font-size: 30px;
        margin-top: 58px;
        letter-spacing: -0.8px;
        text-align: center;
        color: $white;
    }
    .sub_title_team {
        @extend .title_team;
        margin: 0;
        font-size: 14px;
        color: #aeaeae;
        font-weight: 600;
    }
    .memrow {
        margin-top: 37px;
        margin-left: 3px;
        .member{
        width: 350px;
        height: 432px;
        background-color: $white;
        text-align: center;
        margin: 0 14px;
            img {
                margin-top: 47px;
            }
            .tea_title {
                font-family: $font;
                font-weight: 600;
                font-size: 21px;
                margin-top: 43px;
            }
            .tea_sub_title {
                font-family: $font;
                font-weight: 300;
                font-size: 14px;
            }
        }
        .social {
            display: inline-flex;
            margin-right: 2px;
            margin-top: 17px;
            .main_social {
                border-radius: 50%;
                background-color: #bebebe;
                width: 33px;
                height: 33px;
                margin: 3px;
                &:hover {
                    background-color: #b88b58;
                }
            }
            i {
                font-size: 1.3em;
                margin-top: 8px;
                color: $white;
            }
        }
    }
}
.paginator {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 42px;
}
.clients {
    background-color: #f7f7f7;
    .title_clients {
        font-family: $font;
        font-weight: 700;
        font-size: 30px;
        margin-top: 58px;
        letter-spacing: -0.8px;
        text-align: center;
    }
    .sub_title_clients {
        @extend .title_clients;
        margin: 0;
        font-size: 14px;
        color: #aeaeae;
        font-weight: 600;
    }
    .cli_title {
        font-family: $font;
        font-weight: 700;
        font-size: 24px;
        text-align: center;
        margin-top: 26px;
    }
    .cli_sub_title {
        font-family: $font;
        font-weight: 400;
        font-size: 18px;
        text-align: center;
    }
    .client_img {
        text-align: center;
        margin-top: 70px;
    }
    .quotes {
        text-align: center;
        margin-top: 22px;
    }
    .client_p {
        font-family: $font;
        font-weight: 300;
        font-size: 14px;
        text-align: center;
        max-width: 700px;
        margin: 20px auto 0;
    }
}
.logos {
    border-top: 1px solid #cfcfcf;
    border-bottom: 1px solid #cfcfcf;
    text-align: center;
    box-shadow: 0px 5px 9px 2px rgba(0,0,0,0.37);
    padding-bottom: 8px;
    img {
        padding: 44px;
    }
}
.price {
    background-color: #f7f7f7;
    border-bottom: 1px solid #cfcfcf;
    padding-bottom: 48px;
    .title_price {
        font-family: $font;
        font-weight: 700;
        font-size: 30px;
        margin-top: 58px;
        letter-spacing: -0.8px;
        text-align: center;
    }
    .sub_title_price {
        @extend .title_price;
        margin: 0;
        font-size: 14px;
        color: #aeaeae;
        font-weight: 600;
    }
    .pro_row {
        margin-left: 0;
        margin-top: 16px;
        .product{
            width: 255px;
            height: 343px;
            background-color: $white;
            text-align: center;
            margin: 15px;
            .pro_name {
                font-family: $font;
                font-weight: 400;
                font-size: 14px;
                margin-bottom: 0;
                margin-top: 31px;

            }
            .pro_price {
                font-family: $font;
                font-weight: 700;
                font-size: 30px;
                margin-top: 12px;
                margin-bottom: 0;
            }
            .month {
                font-family: $font;
                font-weight: 400;
                font-size: 10px;
                color: #aeaeae;
            }
            .features {
                @extend .month;
                color: black;
                margin-top: 19px;
            }
            .btn_pro {
                font-family: $font;
                font-size: 12px;
                font-weight: 700;
                border-radius: 18px;
                width: 131px;
                margin-top: 28px;
                height: 45px;
                letter-spacing: -0.3px;
                background-color: #373737;
                border: 1px solid #373737;
                margin: 17px auto;
                &:hover {
                    background-color:#b88b58;
                    border: 1px solid #b88b58;
                }
            }
        }
    }
}
.premium {
    padding-bottom: 41px;
    .title_premium {
        font-family: $font;
        font-weight: 700;
        font-size: 30px;
        margin-top: 58px;
        letter-spacing: -0.8px;
        text-align: center;
    }
    .sub_title_premium {
        @extend .title_premium;
        margin: 0;
        font-size: 14px;
        color: #aeaeae;
        font-weight: 600;
    }
    .prem_row {
        border-bottom: 1px solid #373737;
        padding-bottom: 27px;
        .box {
            margin-top: 29px;
            img {
                margin-left: 15px;
            }
        }
       .prem_title {
            font-family: $font;
            font-weight: 700;
            font-size: 21px;
            margin-top: 71px;
            &:before {
                content: "";
                width: 36px;
                height: 32px;
                background-image: url(../images/icon-premium.png);
                background-size: cover;
                position: absolute;
                left: -51px;
            }
        }
        .prem_title2 {
            @extend .prem_title;
            margin-top: 32px;
        }
        .prem_title3 {
            @extend .prem_title;
            margin-top: 24px;
        }
        .prem_sub_title {
            font-family: $font;
            font-weight: 300;
            font-size: 14px;
            color: #aeaeae;
        }
        .feature {
            padding: 0;
            line-height: 1.7;
            li {
                @extend .prem_sub_title;
                list-style-type: none;
            }
        }
    }
    .btn_prem{
        font-family: $font;
        font-size: 12px;
        font-weight: 700;
        border-radius: 18px;
        width: 194px;
        margin-top: 28px;
        height: 43px;
        letter-spacing: -0.3px;
        background-color: #b88b58;
        border: 1px solid #b88b58;
        margin: 17px auto;
        &:hover {
            background-color: #373737;
            border: 1px solid #373737;
        }
    }
    .paginator2 {
        text-align: center;
        margin-top: 33px;
        margin-bottom: 42px;
    }
}
.facts {
    background-color: black;
    padding-bottom: 27px;
    .title_facts {
        font-family: $font;
        font-weight: 700;
        font-size: 30px;
        margin-top: 55px;
        letter-spacing: -0.8px;
        text-align: center;
        color: $white;
    }
    .sub_title_facts {
        @extend .title_facts;
        margin: 0;
        font-size: 14px;
        color: #aeaeae;
        font-weight: 600;
        letter-spacing: -0.2px;
    }
    .fac {
        margin-top: 27px;
        margin-bottom: 41px;
        height: 199px;
        text-align: center;
        .fac_main_title {
            font-family: $font;
            font-weight: 700;
            font-size: 48px;
            color: #b88b58;
            &:after {
                content: "_";
                color: #7e7e7e;
                display: inline-block;
                position: absolute;
                top: 39px;
                left: 131px;
            }
        }
        .fac_title {
            font-family: $font;
            font-weight: 600;
            font-size: 18px;
            color: $white;
            line-height: 24px;
            margin-bottom: 0;
        }
        .fac_sub_title {
            font-family: $font;
            font-weight: 300;
            font-size: 12px;
            color: $white;
            line-height: 19px;
            margin-top: 11px;
            margin-bottom: 0;
        }
        .fac_sub_title2 {
            @extend .fac_sub_title;
            margin-top: 35px;
        }
        .st1 {
            margin-bottom: 12px;
        }
    }
}
.social_icon {
    padding: 20px;
    text-align: center;
    margin-left: 78px;
    img {
        margin-right: 10px;
    }
    .main_social {
        display: inline-flex;
        border-radius: 50%;
        background-color: #34c5f0;
        width: 33px;
        height: 33px;
        margin: 3px; 
        margin-right: 53px;
        &:hover {
            background-color: black;
        }
        .after_i {
            font-family: $font;
            font-weight: 700;
            font-size: 10px;
            color: #aeaeae;
            margin-left: 14px;
            margin-top: 9px;
        }
        i {
            font-size: 1.3em;
            margin-top: 8px;
            margin-left: 9px;
            color: $white;
        }
        .fa-facebook {
            margin-left: 11px;
        }
        .fa-google-plus {
            margin-left: 6px;
        }
    }
    .main_social2 {
        @extend .main_social;
        background-color: #127cb4;
    }
    .main_social3 {
        @extend .main_social;
        background-color: #336297;
    }
    .main_social4 {
        @extend .main_social;
        background-color: #e74237;
    }
    .main_social5 {
        @extend .main_social;
        background-color: #b71c29;
    }
}